.form-group {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  line-height: 1.5;
}

form {
  width: 40%;
  margin: 0 auto; /* Center the form horizontally */
  padding: 0 20px;
}

input.invalid {
  border-color: red;
}

.error {
  color: red;
  font-size: 0.9em;
  visibility: hidden;
}

.error.visible {
  visibility: visible;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 5px;
}

input[type="checkbox"] {
  width: auto;
  height: 16px; 
  margin: 0;
  gap: 10px;
}

button {
  display: flex;
  margin-top: 40px;
}

.cute-dropdown {
  width: 100%;
  padding: 10px 15px; 
  font-size: 16px; 
  border: 2px solid #e3e3e3; 
  border-radius: 8px; 
  background-color: #f9f9f9; 
  color: #333; 
  appearance: none; 
  outline: none; 
  cursor: pointer;
  transition: all 0.3s ease; 
}

.cute-dropdown:hover {
  border-color: #a3c4f3; 
  background-color: #ffffff; 
}

.label-input-container {
  display: flex;
  align-items: center; /* Vertically center the items */
  justify-content: flex-start; /* Space between label and input */
  gap: 20px; /* Optional: Adjust the space between the label and input */
  width: 100%;
}
.label-input-container label{
  font-size: 16px;
  width: 42%; /* Adjust the width of the label */
  margin: 0; /* Remove default margin */
  color: #333;
}

.label-input-container input { 
  flex: 1;
  white-space: pre-wrap;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

