<form [formGroup]="workshopForm" >
    <div>
      <label for="workshop_title">Workshop Title: </label>
      <input id="workshop_title" formControlName="workshop_title" />
    </div>
  
    <div>
      <label for="description">Description : </label>
      <textarea id="description" formControlName="description"></textarea>
    </div>

    <div>
      <label for="date">Date : </label>
      <input id="date" type="date" formControlName="date" />
    </div>
  
    <div>
      <label for="prerequisite">Prerequisite</label>
      <input id="prerequisite" formControlName="prerequisite" />
    </div>
  
    <div>
      <label for="max_participants">Max Participants</label>
      <input id="max_participants" type="number" formControlName="max_participants" />
    </div>
  
    <div>
      <label for="typeOfPresence">Type of Presence</label>
      <select id="typeOfPresence" formControlName="typeOfPresence">
        <option value="onsite">Onsite</option>
        <option value="hybrid">Hybrid</option>
        <option value="online">Online</option>
      </select>
    </div>
  
    <div>
      <label for="location">Location</label>
      <input id="location" formControlName="location" />
    </div>
  
    <div>
      <label for="registrationLink">Registration Link</label>
      <input id="registrationLink" formControlName="registrationLink" />
    </div>
  
    <div>
      <label for="registration_deadline">Registration Deadline</label>
      <input id="registration_deadline" type="date" formControlName="registration_deadline" />
    </div>
  
    <div>
      <label for="isPrivate">
        <input type="checkbox" id="isPrivate" formControlName="isPrivate" /> Private
      </label>
    </div>

    <div>
      <label>Tools</label>
      <div *ngFor="let t of tool">
        <input type="checkbox" [value]="t.id" (change)="onToolChange(t, $event)"/>
        <label>{{ t.tool }}</label>
      </div>
    </div>

    <button type="submit" (click)="createWorkshop()">Save Workshop</button>
</form>
