
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  line-height: 1.5;
}

form {
  width: 40%;
  margin: 0 auto; /* Center the form horizontally */
  padding: 0 20px;

}

input.invalid {
    border-color: red;
  }
  
  .error {
    color: red;
    font-size: 0.9em;
    visibility: hidden;
  }
  
  .error.visible {
    visibility: visible;
  }