<div class="text-center mb-4 my-4">
    <h1>Welcome to our page!</h1>
    <p>All workshops available are listed below</p>
    <p><a href="http://127.0.0.1:8000/admin/" target="_blank" style="text-decoration: none;">Are you an admin? Go to the admin site!</a></p>
    <button class="btn btn-secondary" style=" color: white;"><a [routerLink]="['/create']" >Create your own workshop here!</a></button> 
    <button class="btn btn-secondary">Log out</button>
</div>

<div class="search text-center mb-4 my-4">
    <input type="text" class ="form-control" placeholder="Filter..." [(ngModel)]="searchQuery">
    <!-- button class="btn btn-primary" (click) ="onSearch()">Search</button-->
</div>

<button class="btn btn-primary" (click)="getWorkshops()">Retrieve Workshop</button>

<div class="workshops">
    <div class="row" *ngFor="let row of chunkedWorkshops(filteredWorkshops, 3)">
      <div class="col-md-4" *ngFor="let workshop of row">
        <app-workshop-card 
        [workshop]="workshop" py>
      </app-workshop-card>
      </div>
    </div>
</div>

<div class="pagination-controls">
  <button (click)="goToPrevious()" [disabled]="currentPage === 1">
    &lt;
  </button>
  <span>Page {{ currentPage }} of {{ pages }}</span>
  <button
    (click)="goToNext()"
    [disabled]="currentPage === pages"
  >
  &gt;
  </button>
</div>

  
