.workshops, button{
    margin-left: 20px;
    margin-right: 50px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 50px;
}

a {
    color: #093741;
    text-decoration: none;
}

.card{
    width: 25rem;
    margin-right: 1rem;
}

input {
    width: 300px;  /* Set a specific width for the search bar */
    padding: 10px; /* Add padding for better spacing */
    margin : auto;
  }